body {
  font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.checkbox, .radio {
  margin-left: 20px;
}
.btn.btn-blue {
  background: #06256c;
  border-color: #002072;
}
.nav-tabs-custom>.nav-tabs>li.active {
  border-top-color: #06256c;
}
.skin-vesti .nav-tabs-custom>.nav-tabs {
  background-color: #ecf0f5;
}
.skin-vesti .disabledTab a {
  pointer-events: none;
}
.skin-vesti .disabledTab a {
  color: #999 !important;
}
.skin-vesti .box .rating,
.skin-vesti .box .views,
.skin-vesti .box .users {
  text-align: center;
}

.skin-vesti .main-header .navbar {
  background-color: #06256c;
}
.skin-vesti .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-vesti .main-header .navbar .nav > li > a:hover,
.skin-vesti .main-header .navbar .nav > li > a:active,
.skin-vesti .main-header .navbar .nav > li > a:focus,
.skin-vesti .main-header .navbar .nav .open > a,
.skin-vesti .main-header .navbar .nav .open > a:hover,
.skin-vesti .main-header .navbar .nav .open > a:focus,
.skin-vesti .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1) !important;
  color: #f6f6f6;
}
.skin-vesti .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-vesti .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-vesti .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-vesti .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-vesti .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-vesti .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-vesti .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-vesti .main-header .logo {
  background-color: #ffffff;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.main-header .logo .logo-mini img {
  max-width: 20px;
}
.main-header .logo .logo-lg img {
  max-width: 60px;
}
.login-logo img {
  max-width: 200px;
}
.skin-vesti .main-header li.user-header {
  background-color: #06256c;
}
.skin-vesti .content-header {
  background: transparent;
}
.skin-vesti .wrapper,
.skin-vesti .main-sidebar,
.skin-vesti .left-side {
  background-color: #505050;
}
.skin-vesti .user-panel > .info,
.skin-vesti .user-panel > .info > a {
  color: #fff;
}
.skin-vesti .sidebar-menu > li.header {
  color: #999999;
}
.skin-vesti .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  color: #c9c9c9;
}
.skin-vesti .sidebar-menu > li:hover > a,
.skin-vesti .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #444444;
  border-left-color: #009790;
}
.skin-vesti .sidebar-menu > li > .treeview-menu {
  background: #444444;
}
.skin-vesti .sidebar-menu > li > .treeview-menu {
  border-left: 3px solid #009790;
}
.skin-vesti .sidebar a {
  color: #b8c7ce;
}
.skin-vesti .sidebar a:hover {
  text-decoration: none;
}
.skin-vesti .treeview-menu > li > a {
  color: #c9c9c9;
}
.skin-vesti .treeview-menu > li.active > a,
.skin-vesti .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-vesti .sidebar-form {
  border-radius: 3px;
  border: 1px solid #333333;
  margin: 10px 10px;
}
.skin-vesti .sidebar-form input[type="text"],
.skin-vesti .sidebar-form .btn {
  box-shadow: none;
  background-color: #444444;
  border: 0;
  height: 35px;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.skin-vesti .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-vesti .sidebar-form input[type="text"]:focus,
.skin-vesti .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #f3f3f3;
  color: #666;
}
.skin-vesti .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-vesti .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-vesti.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-vesti.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
.skin-vesti .box.box-primary {
  border-top-color: transparent;
}